<div class="container">
  <div style="text-align: left; width: 28%; padding: 1rem; margin-right: 2rem">
    <h3>Angular example project</h3>
    <p>Hello</p>
    <hr />
    <div>
      <ul>
        <li *ngFor="let item of items">
          <a
            style="width: 100%"
            routerLink="{{item.path}}"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            tabindex="0"
          >
            <span>{{ item.path }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div style="width: 70%">
    <router-outlet></router-outlet>
  </div>
</div>
